* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: rgba(128, 128, 128, 0.5);
  color: rgb(78, 78, 78, 1);
  font-family: "Roboto", sans-serif;
}

body nav {
  display: inline-block;
  background: rgba(110, 194, 89, 0.5);
}
